#after_submit {
	visibility: hidden;
}
body {
	background-image: url("../images/triviabackground.jpg");
	background-color: black;
}
h1 {
	color: blue;
	text-align: center;
}
div {
	text-align: center;
}
form {
	text-align: center;
}
#button {
	padding: 40 px;
}